@model IEnumerable<BonLivraison>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Argon Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <!-- SCRIPT -->
    <link src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" />
</head>

<body>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">

                <div class="card-header pb-0">
                    <h6>Tableau Bon Livraion</h6>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Ajouter Bon Livraion
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="width:900px">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ajouter Bon Livraison</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-right:10px;margin-bottom:10px">
                                        <img src="~/assets/flaticon/close-0.png" width="30px">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="mod">

                                    @Html.Partial("_Create",new BonLivraison())
                                </div>
                              
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bon Livraison</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total HT</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total HT avant Remise</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Remise</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total TVA</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total TTC</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Client</th>




                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../assets/flaticon/BL_0.png" style="margin-right:20px;" alt="user1">

                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">BL#@item.bonLivraison_id</h6>
                                                    <p class="text-xs text-secondary mb-0">@item.date_bL</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.total_ht</p>

                                        </td>

                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.total_ht_avant_remis</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.total_remise</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.total_tva</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.total_ttc</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.bL_client.nom_client</span>
                                        </td>
                                        <td class="align-middle text-center">

                                            <form action="LigneBL" style="display:inline;">
                                                <button type="submit" class="btn btn-info" asp-action="LigneBL" asp-route-id="@item.bonLivraison_id">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </form>

                                            <button type="button" class="btn bg-gradient-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal-"+item.bonLivraison_id)" data-url="@Url.Action($"DeletePartial/{item.bonLivraison_id}")">
                                                <i class="fas fa-trash">  </i>
                                            </button>
                                            @await Html.PartialAsync("DeletePartial",item)
                                            <!--
                                                                                        <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="@("#editModal-" + item.id_client)" data-url="@Url.Action($"EditPartial/{item.id_client}")">
                                               Edit
                                            </button>
                                            <form action="Delete" style="display:inline;">
                                            <button type="submit" class="btn bg-gradient-danger" asp-action="Delete" asp-route-id="@item.id_client">
                                                Delete
                                            </button></form>

                                            await Html.PartialAsync("EditPartial",item) -->
                                            <!-- Edit Modal -->
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/chartjs.min.js"></script>

    <script>
        // JavaScript/jQuery code to handle "Edit" button click and populate the modal
        $(document).ready(function () {
            $('.edit-btn').click(function () {
                var clientId = $(this).data('client-id');
                var clientName = $(this).data('client-name');
                var clientEmail = $(this).data('client-email');

                // Populate the modal with the data
                $('#mod').load('/YourController/EditPartial?clientId=' + clientId + '&clientName=' + clientName + '&clientEmail=' + clientEmail);
            });
        });
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>